*{
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body{
    font-size: 1em;
    background-color: hsl(0, 0%, 95%);
    color: hsla(0, 0%, 100%, 0.75);
}

main.box-wrapper{
    display: flex;
    width: 90em;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: auto;
     
}

.primary-orange{
    background-color: hsl(31, 77%, 52%);
}

.primary-cyan{
    background-color: hsl(184, 100%, 22%);
}

.primary-dark-cyan{
    background-color: hsl(179, 100%, 13%);
}

.each-box{
    height: 35em;
    width: 33.33%;
    padding: 8vh 5vw;
}

p{
    min-height: 15em;
}

h1{
    font-size: 35px;
    margin: 1.5em 0;
}

button{
    margin-bottom: 1.5em;
    padding: 15px 30px;
    border-radius: 20px 20px;
    font-size: 1em;
    font-weight: bold;
    border: 0;
    cursor: pointer;
}

.button-orange{
    color: hsl(31, 77%, 52%);
}

.button-cyan{
    color: hsl(184, 100%, 22%);
}

.button-dark-cyan{
    color: hsl(179, 100%, 13%);
}

button:hover{
    color: hsla(0, 0%, 100%, 0.75);
    border: 2px solid  hsla(0, 0%, 100%, 0.75);
}

.button-orange:hover{
    background-color: hsl(31, 77%, 52%);
}

.button-cyan:hover{
    background-color: hsl(184, 100%, 22%);
}

.button-dark-cyan:hover{
    background-color: hsl(179, 100%, 13%);
}



/* ========================== Grid CSS ====================================== */

main.grid-layout {
    max-width: 60em;
    display: grid;
    gap: 10px;
    grid-template-areas: 
    'a a a a b b'
    'c c c d d d';
    margin: 15vh auto;
    align-items: center;
  }
  
.grid-box {
    border: 0;
    height: 20em;
    width: 100%;
}

.box-red{
    background-color: red;
    grid-area: a;
}

.box-yellow{
    background-color: yellow;
    grid-area: b;
}

.box-green{
    background-color: green;
    grid-area: c;
}

.box-blue-sec{
    grid-area: d;
    display: grid;
    gap: 10px;
    grid-template-areas:
    'e'
    'f'
}

.box-blue{
    background-color: blue;
}

.box-blue-top{
    grid-area: e;
}

.box-blue-bottom{
    grid-area: f;
}